body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.section {
  min-width: 100vw;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  
  
  }
  .cards {
    margin-top: 40px;
    border: 1px solid brown;
    width: 400px;
    height:500px;
  }
  h2 {
    padding-left: 120px;
  }

  .mine  {
    padding-left: 60px;
  }
   .list {
  
    list-style-type: none;
    
  }
  .list li {
    color: #333;
  margin-bottom: 8px;
  margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    height: 25px;
    width: 235px;
    transition: background .2s ease-out;
  }
  .list li:hover {
    background:red;
    cursor: pointer;
  }
  

.btn {
  background-color: #000000;
  border-color: #000000;
  color: white;
}
.bbtn {
  background-color: brown;
  border: 0px;
  color: white;
 margin-left: 60px;
 font-size: 11px;
 line-height: 20px;
}